body
    font-family: sans-serif
    margin: 0

button
    background-color: rgb(42, 90, 162)
    border: none
    border-radius: 10px
    padding: 20px
    color: white
    cursor: pointer
    min-width: 200px

    &:hover
        opacity: 0.7

    &:active
        background-color: rgb(0, 98, 139)

input:not([type='submit']), textarea
    padding: 20px
    border-radius: 10px
    font-size: 15pt
    border: 1px solid lightgrey
    box-sizing: border-box

input[type='submit']
    padding: 20px
    border: none
    font-size: 16px

.hidden
    display: none

.boxy-link
    color: white
    text-decoration: none
    padding: 20px 0
    width: 100%
    text-align: center
    background-color: #444444

    &:hover
        background-color: #2e2e2e

    &:active
        color: whitesmoke
        background-color: #000000

.nav
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    align-items: center

.page
    max-width: 400px
    position: fixed
    box-shadow: 0 0 30px 0 lightgrey
    padding: 50px
    border-radius: 10px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    h1
        margin-top: 0

.error-message
    color: tomato
    font-size: 14pt
    text-align: center

.welcome-page
    .link-container
        display: flex
        flex-direction: column

        a:not(:last-child)
            margin-bottom: 10px

.register-page
    form
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center

        input
            width: 100%

        .submit-button
            cursor: pointer
            background-color: #444444
            color: white

            &:hover
                background-color: #2e2e2e

            &:active
                color: whitesmoke
                background-color: #000000

        *:not(:last-child)
            margin-bottom: 10px

@media (max-width: 850px)
    .nav
        grid-template-columns: 1fr
        grid-template-rows: repeat(3, 70px)
